<div class="alert alert-danger alert-dismissible fade show" role="alert" id="Invalido">
		<strong>Erro:</strong> Formulário contém campos invalidos.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div>
	<div style="height: 10px"></div>	

	<form #cadastroForm="ngForm" (ngSubmit)="onSubmit(cadastroForm, Senha.value.length)" class="container ">		
			
		<div style="height: 8px"></div>
	  <h2 class="container">Cadastro</h2>
	  
	  	<div class="form-group">
	    	<label for="input_id">Login</label>
			<input [(ngModel)] = "usuarioModel.id" required #Usuarioid="ngModel" name="input_id" type="text" [class.is-invalid]="Usuarioid.invalid && Usuarioid.touched" class="form-control" placeholder="">
			<small class="text-danger"[class.d-none]="Usuarioid.valid || Usuarioid.untouched">O login é obrigatorio</small>
      	</div>
            
      	<div class="form-group">
			<label for="input_email">E-mail</label>
			<input [(ngModel)] = "usuarioModel.email" required name="input_email" #Email="ngModel" [email]="true" [class.is-invalid]="Email.invalid && Email.touched" type="email" class="form-control" id="input_email" placeholder="">
			<small class="text-danger"[class.d-none]="Email.valid || Email.untouched">O E-mail digitado é invalido.</small>
	 	</div>

	  	<div class="form-group">
	    	<label for="Senha">Senha</label>
			<input [(ngModel)] = "usuarioModel.senha" required name="Senha" #Senha="ngModel" type="password" [class.is-invalid]="Senha.invalid && Senha.touched" class="form-control" id="SenhaCadastro" placeholder="">
			<small class="text-danger"[class.d-none]="Senha.value.length >= 5 || Senha.untouched">A senha é obrigatoria e deve conter no minimo 5 caracteres</small>
			
      	</div>
      
      	<div class="form-group">
	    	<label for="input_nome">Nome</label>
			<input [(ngModel)] = "usuarioModel.nome" required name="input_nome" #Nome="ngModel" type="text" [class.is-invalid]="Nome.invalid && Nome.touched" class="form-control" id="input_nome" placeholder="">
			<small class="text-danger"[class.d-none]="Nome.valid || Nome.untouched">O nome é obrigatorio</small>
      	</div>
      
      	<div class="form-group">
	    	<label for="input_idade">Idade</label>
			<input [(ngModel)] = "usuarioModel.idade" required #Idade="ngModel" name="input_idade" [class.is-invalid]="Idade.invalid && Idade.touched" type="number" class="form-control" id="input_idade" placeholder="">
			<small class="text-danger"[class.d-none]="Idade.valid">Coloque sua idade.</small>
		  </div>      
		  
      

	  	<button type="submit" class="btn btn-primary" >Enviar</button>	  
		<div style="height: 10px"></div>
		
	</form>			
			
</div>	