#grid, #title_grid{
    margin: auto;
    max-width: 65% !important;    
}

td , tr{

    border: 1px solid white;
    border-radius: .25rem;
}

tr{
    max-width: 100%;
}

td{
    width: 20%;
    word-break: break-all;
}