<ng-template #consultaView>
    <app-consulta></app-consulta>
</ng-template>

<table class="table">
    <thead>
      <tr>
        <th>
          <h2>Pesquisar usuario</h2>
        </th>
      </tr>
    </thead>
  </table>

<form #PesquisaForm="ngForm" (ngSubmit)="onSearch(PesquisaForm)">    

    <div class="input-group mb-3" id="campoPesquisa">
        <input [(ngModel)] = "usuarioModel.id" name="input_id" type="text" class="form-control" placeholder="Pesquisar...">
        
        <div class="input-group-append">          
          <button class="btn btn-primary" (click)="onSearch()"type="button">Pesquisar</button>
        </div>
      </div>
</form>

<div *ngIf="PartialConsultar; then consultaView"></div>